html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
}

.errorImage {
  height: 70vh;
  width: auto;
}
.errorImage:hover {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 100%;
  animation-timing-function: ease-in-out;
}
img {
  max-height: 70vh;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
#root > * {
  margin-left: auto;
  margin-right: auto;
}
footer,
form {
  padding: 2rem;
}
#root > figure {
  grid-area: 1/1/3/2;
  padding-left: 5rem;
  margin: auto;
}

article {
  grid-area: 2/2/3/3;
  max-width: 70%;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

form {
  grid-area: 1/2/2/3;
}

input,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: large;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}

footer {
  grid-area: 3/1/4/3;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.string {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 0%;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  50% {
    -webkit-transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
  }
}
