body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#root {display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto 1fr;}
img {grid-area: 2/1/3/2}
.spinner {grid-area: 2/1/3/2; width: 320px; height:240px;}
